body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.main{
    width: 100%;
    overflow: hidden;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    /* background-color: black; */
}

#part1{
width: 25%;
height: inherit;
background-color: #fff;
}

#part2{
    width: 65%;
    height: inherit;
    background-position: center;
    background-size: cover;
    
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.563), rgba(0, 0, 0, 0.538)),
    url("https://images.unsplash.com/photo-1615870797995-a7f153560abe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80");
  background-blend-mode: saturation;
    
}
#part3{
    width: 10%;
    height: inherit;
}
#overlays {
    animation: overlayimages 2.5s 1 1s; 
    height: inherit;
}

@keyframes overlayimages {
    0%, 100% {
      width: 0%;
      background-color: #fff;
    }
    50% {
      width: 100%;
      background-color: #fff;
    }
  }
  

.textbox{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    gap: 5px;
    top: 50%;
    left: 10%;
    width: 480px;
    transform: translate(0% , -50%);
}
.textbox h1{
    line-height: 1;
    margin: 0px;
    z-index: 0;
}

  
  h1 {    
    font-family: "Monument Extended Utrbold", sans-serif;
    font-size: 5rem;
    font-weight: 900;
    overflow: hidden;
    letter-spacing: 5px;
  }
  .over{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .over h1{
    color: black
  }


   @keyframes overlayAnimation1 {
    0% {
      width: 33%;
    }
    25% {
        padding-right: 476px;
      width: 100%;
    }
    75% {
        padding-right:0px;
      width: 0%;
    }
    100% {
      width: 33%;
    }
  }
  
  @keyframes overlayAnimation2 {
    0% {
      width: 40%;
    }
    25% {
        padding-right: 476px;
      width: 100%;
    }
    75% {
      width: 0%;
      padding-right: 0px;
    }
    100% {
      width: 40%;
    }
  }
  
  @keyframes overlayAnimation3 {
    0% {
      width: 70%;
    }
    25% {
        padding-right: 476px;
      width: 100%;
    }
    75% {
        padding-right: 0px;
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
  
  @keyframes overlayAnimation4 {
    0% {
      width: 10%;
      
    }
    25% {
        padding-right: 476px;
      width: 100%;
      
    }
    75% {
      
      width: 0%;
      padding-right: 0px;
    }
    100% {
        
      width: 10%;
    }
  }
  
  .overlay {
  background-color: #fff;
    z-index: 22;
    height: 80px;
    position: relative;
    animation-duration: 4s; 
    animation-timing-function: ease-in-out;
    
    animation-iteration-count: 1; 
  }
  .overlay h1{
    color:#fff;
  }
  
  .overlay1 {
    animation-name: overlayAnimation1;
    width: 33%;
    
  }
  
  .overlay2 {
    animation-name: overlayAnimation2;
  width: 40%;
}

  
  .overlay3 {
    animation-name: overlayAnimation3;
    width: 70%;
  }
  
  .overlay4 {
    animation-name: overlayAnimation4;
    width: 10%;

  }
  
  .small-image{
    width: 250px;
    height: 300px;
    position: absolute;
    right: 15%;
    top: 50%;
  }
  .small-image img{
    width: 100%;
    animation: ainmatesamll 2s 1 2s;
    height: 100%;
  }
  @keyframes ainmatesamll {
    0%{
        width: 100%;
    }
    50%{
        width: 0%;

    }
    100%{
        width: 100%;
    }
}
.text-div{
  position: absolute;
  right: 0%;
  transform-origin: 0% 0%;
  top: 0%;
  padding: 0px 20px;
  transform: translate(50%);
  right: -43%;
  
}
.text-div {
  transform: rotate(90deg); 
}
.text-div h1{
   font-family: "Monument Extended";  
  font-size: 50px;
  letter-spacing: -1px;

  font-family: 900;
  margin: 0px;;
  color: #fff;
  transform: rotate(-360deg);
  animation: moveUp 2s 1; 
    font-family: "Monument Extended", sans-serif;
    -webkit-text-stroke: 2px #000000;
    letter-spacing: 1px; 
}

@keyframes moveUp {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-0%); 
    }
}